<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="食逸安" />
	<meta name="description" content="食逸安" />
	<title>食逸安</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/topmenu.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
	<script type="text/javascript" th:src="@{/js/koala.min.1.5.js}"></script>
	<script th:src="@{/layui/layui.js}"></script>
<script>
	//菜谱下拉菜单
	$(function () {
        $(function(){
            $('#showscm').on('click',function(){
                $('#secondmenu').toggle('slow');
            })
        })
    })
//	$(function () {
//      $(function(){
//          $('#secondmenu').on('mouseout',function(){
//              $('#secondmenu').hide('slow');
//          })
//      })
//  })
</script>
<script>
	layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
            , layer = layui.layer;

        //总页数低于页码总数
        laypage.render({
            elem: 'pagecut1'
            , count: 50 //数据总数
        });
    })
</script>
</head>

<body>
	<div id="header">
	<div class="head">
        <div class="hlogo" ><a title="食逸安" href="/"><img src="images/414.png" width="45px" height="45px" style="line-height: 30px;"/></a></div>
		<div class="tlogin" id="header_info" uid="0" pur="0">
					<div class="toploginqs" id="topThirdLogin">
        	<a href="#" class="topsmqq" rel="nofollow">QQ登录</a><a href="/api/sina_login" class="topsmsina" rel="nofollow">新浪微博</a>
        </div>
			<div class="slan"><a href="#" title="登录" rel="nofollow">登录</a><span class="pls prs">|</span><a href="/signup.html?time=1540204612" target="_blank" rel="nofollow" title="注册">注册</a><span class="pls prs"></span></div>
        </div>
	</div>
    <div class="headnav">
    	<div class="secondmenu" id="secondmenu" style="display: none;">
    		<ul>
    			<li><a href="#">精选</a></li>
    			<li><a href="#">分类</a></li>
    			<li><a href="#">食材</a></li>
    			<li><a href="#">排行榜</a></li>
    		</ul>
    	</div>
    	<div class="hcent">
            <div class="hnav fsm">
                <ul>
					<li class="ls lone"><a href="#" ><span>首页</span></a></li>
                    <li class=" lone" id="showscm"><a href="#"><span>菜谱</span><s class="naww"></s></a></li>
					<li class=" lone"><a href="#"><span>写食派</span></a></li>
					<li class=" lone"><a href="#"><span>商城</span></a><div class="icnew"></div></li>
					<li class="relative  lone"><a href="#"><span>主题站</span></a></li>
                </ul>
            </div>
            <div class="search">
                <form method="POST" id="searchForm" action="/search/recipe/" accept-charset="utf-8" onsubmit="document.charset='utf-8';return Search();">
                    <input type="text" id="global_search_inpt" class="sput itqu" name="keywords" placeholder="搜索菜谱、菜单、食材、用户" x-webkit-speech="" x-webkit-grammar="bUIltin:search" lang="zh-CN" ;>
                    <input type="submit" value="搜索" class="lib">
                </form>
            </div>
            <div class="issue" onmouseover="$('#issueall').show()" onmouseout="$('#issueall').hide()">
                <a href="javascript:void(0);" class="btniss">发布</a>
				<div class="fallce r3" id="issueall" style="display: none; ">
					<span class="armtop"> </span>
						<p>
							<a href="#" class="rt3" target="_blank" rel="nofollow">发布菜谱</a>
						   <a href="#" target="_blank" rel="nofollow">创建菜单</a>
						   <a href="#" target="_blank" rel="nofollow">上传美食日记</a>
                        </p>
				</div>
            </div>
        </div>
    </div>
</div>
<div id="main" class="clearfix">
	<div class="caipunav r3 mb30 relative">
		<ul class="pls">
			<li class="lirdo"><a href="#"><span>精选</span></a></li>
			<li class="lirdo"><a href="#"><span>分类</span></a></li>	
			<li class="lirdo ls"><a href="#" ><span>食材</span></a></li>
			<li class="lirdo "><a href="#"><span>菜单</span></a></li>
			<li class=" "><a href="#"><span>排行榜</span></a></li>
		</ul>
 	 </div>
 	 
<div class="sortf">
				<div class="fei3 mb20 libdm pbl" id="ddd2">  
			<h2>肉类</h2>
			<ul class="kbi">
								<li><a target="_blank" href="https://www.douguo.com/caipu/川菜" title="川菜菜谱">猪肉</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/湘菜" title="湘菜菜谱">排骨</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/粤菜" title="粤菜菜谱">五花肉</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/鲁菜" title="鲁菜菜谱">鲁菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/东北菜" title="东北菜菜谱">东北菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/西北菜" title="西北菜菜谱">西北菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/浙菜" title="浙菜菜谱">浙菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/苏菜" title="苏菜菜谱">苏菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/上海菜" title="上海菜菜谱">上海菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/京菜" title="京菜菜谱">京菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/闽菜" title="闽菜菜谱">闽菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/徽菜" title="徽菜菜谱">徽菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/晋菜" title="晋菜菜谱">晋菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/淮扬菜" title="淮扬菜菜谱">淮扬菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/清真" title="清真菜谱">清真</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/客家菜" title="客家菜菜谱">客家菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/新疆菜" title="新疆菜菜谱">新疆菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/贵州菜" title="贵州菜菜谱">贵州菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/豫菜" title="豫菜菜谱">豫菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/云南菜" title="云南菜菜谱">云南菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/鄂菜" title="鄂菜菜谱">鄂菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/赣菜" title="赣菜菜谱">赣菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/台湾美食" title="台湾美食菜谱">台湾美食</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/香港美食" title="香港美食菜谱">香港美食</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/澳门美食" title="澳门美食菜谱">澳门美食</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/西餐" title="西餐菜谱">西餐</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/法国菜" title="法国菜菜谱">法国菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/意大利菜" title="意大利菜菜谱">意大利菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/日本料理" title="日本料理菜谱">日本料理</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/韩国料理" title="韩国料理菜谱">韩国料理</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/泰国菜" title="泰国菜菜谱">泰国菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/东南亚美食" title="东南亚美食菜谱">东南亚美食</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/家常菜" title="家常菜菜谱">家常菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/天津菜" title="天津菜菜谱">天津菜</a></li>
						
			</ul>
			<span class="bkzksq" style="display:none"><a href="javascript:void(0);" class="zhankai oleizk">展开更多</a></span>		
		</div>
				<div class="fei3 mb20 libdm pbl" id="ddd7">  
			<h2>水果类</h2>
			<ul class="kbi">
								<li><a target="_blank" href="https://www.douguo.com/caipu/煎" title="煎菜谱">煎</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/炒" title="炒菜谱">炒</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/炸" title="炸菜谱">炸</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/红烧" title="红烧菜谱">红烧</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/煮" title="煮菜谱">煮</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蒸" title="蒸菜谱">蒸</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/烧烤" title="烧烤菜谱">烧烤</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/焖" title="焖菜谱">焖</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/炖" title="炖菜谱">炖</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/拌" title="拌菜谱">拌</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/烙" title="烙菜谱">烙</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/腌" title="腌菜谱">腌</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/焗" title="焗菜谱">焗</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/卤" title="卤菜谱">卤</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/榨汁" title="榨汁菜谱">榨汁</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/烤" title="烤菜谱">烤</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/烩" title="烩菜谱">烩</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/煲" title="煲菜谱">煲</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/免烤" title="免烤菜谱">免烤</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/干煸" title="干煸菜谱">干煸</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/熏" title="熏菜谱">熏</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/酱" title="酱菜谱">酱</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/砂锅" title="砂锅菜谱">砂锅</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/干锅" title="干锅菜谱">干锅</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/煨" title="煨菜谱">煨</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/焯" title="焯菜谱">焯</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/涮" title="涮菜谱">涮</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/其他工艺" title="其他工艺菜谱">其他工艺</a></li>
						
			</ul>
			<span class="bkzksq" style="display:none"><a href="javascript:void(0);" class="zhankai oleizk">展开更多</a></span>		
		</div>
				<div class="fei3 mb20 libdm pbl" id="ddd8">  
			<h2>蔬菜</h2>
			<ul class="kbi">
								<li><a target="_blank" href="https://www.douguo.com/caipu/酸" title="酸菜谱">酸</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/甜" title="甜菜谱">甜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/辣" title="辣菜谱">辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/咸" title="咸菜谱">咸</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/香" title="香菜谱">香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/苦" title="苦菜谱">苦</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/鲜" title="鲜菜谱">鲜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/咖喱" title="咖喱菜谱">咖喱</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/麻辣" title="麻辣菜谱">麻辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/孜然" title="孜然菜谱">孜然</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/清淡" title="清淡菜谱">清淡</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/酸辣" title="酸辣菜谱">酸辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/香辣" title="香辣菜谱">香辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/酸甜" title="酸甜菜谱">酸甜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/香酥" title="香酥菜谱">香酥</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/奶香" title="奶香菜谱">奶香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/鱼香" title="鱼香菜谱">鱼香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蒜香" title="蒜香菜谱">蒜香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/五香" title="五香菜谱">五香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/变态辣" title="变态辣菜谱">变态辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/椒盐" title="椒盐菜谱">椒盐</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/怪味" title="怪味菜谱">怪味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/甜辣" title="甜辣菜谱">甜辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/爽口" title="爽口菜谱">爽口</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/微辣" title="微辣菜谱">微辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/酱香" title="酱香菜谱">酱香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/糟香" title="糟香菜谱">糟香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/葱香" title="葱香菜谱">葱香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/原味" title="原味菜谱">原味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蚝香" title="蚝香菜谱">蚝香</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/剁椒" title="剁椒菜谱">剁椒</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/超辣" title="超辣菜谱">超辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/中辣" title="中辣菜谱">中辣</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/芝士味" title="芝士味菜谱">芝士味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/抹茶味" title="抹茶味菜谱">抹茶味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/泡椒" title="泡椒菜谱">泡椒</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/烧烤味" title="烧烤味菜谱">烧烤味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/咸鲜" title="咸鲜菜谱">咸鲜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蜜汁" title="蜜汁菜谱">蜜汁</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蒜蓉" title="蒜蓉菜谱">蒜蓉</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/姜汁味" title="姜汁味菜谱">姜汁味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/黑椒" title="黑椒菜谱">黑椒</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/茄汁味" title="茄汁味菜谱">茄汁味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/红油味" title="红油味菜谱">红油味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/糖醋" title="糖醋菜谱">糖醋</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/香草味" title="香草味菜谱">香草味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/番茄味" title="番茄味菜谱">番茄味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/果味" title="果味菜谱">果味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/芥末味" title="芥末味菜谱">芥末味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/麻酱味" title="麻酱味菜谱">麻酱味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/豆瓣味" title="豆瓣味菜谱">豆瓣味</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/家常味" title="家常味菜谱">家常味</a></li>
						
			</ul>
			<span class="bkzksq" style="display:none"><a href="javascript:void(0);" class="zhankai oleizk">展开更多</a></span>		
		</div>
				<div class="fei3 mb20 libdm pbl" id="ddd1">  
			<h2>海鲜</h2>
			<ul class="kbi">
								<li><a target="_blank" href="https://www.douguo.com/caipu/下饭菜" title="下饭菜菜谱">下饭菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/甜品" title="甜品菜谱">甜品</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/肉类" title="肉类菜谱">肉类</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/主食" title="主食菜谱">主食</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/私家菜" title="私家菜菜谱">私家菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/凉菜" title="凉菜菜谱">凉菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/烘焙" title="烘焙菜谱">烘焙</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/豆制品" title="豆制品菜谱">豆制品</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/煲汤" title="煲汤菜谱">煲汤</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/酒" title="酒菜谱">酒</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/海鲜" title="海鲜菜谱">海鲜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/水产" title="水产菜谱">水产</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/禽类" title="禽类菜谱">禽类</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蛋类" title="蛋类菜谱">蛋类</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/冰品" title="冰品菜谱">冰品</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/饮品" title="饮品菜谱">饮品</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/创意菜" title="创意菜菜谱">创意菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/下酒菜" title="下酒菜菜谱">下酒菜</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/冰激凌" title="冰激凌菜谱">冰激凌</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/小吃" title="小吃菜谱">小吃</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/零食" title="零食菜谱">零食</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/酱汁佐料" title="酱汁佐料菜谱">酱汁佐料</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/果酱" title="果酱菜谱">果酱</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/火锅" title="火锅菜谱">火锅</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/麻辣烫" title="麻辣烫菜谱">麻辣烫</a></li>
						
			</ul>
			<span class="bkzksq" style="display:none"><a href="javascript:void(0);" class="zhankai oleizk">展开更多</a></span>		
		</div>
				<div class="fei3 mb20 libdm pbl" id="ddd21">  
			<h2>谷类</h2>
			<ul class="kbi">
								<li><a target="_blank" href="https://www.douguo.com/caipu/炒饭" title="炒饭菜谱">炒饭</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/煲仔饭" title="煲仔饭菜谱">煲仔饭</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/盖浇饭" title="盖浇饭菜谱">盖浇饭</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/焗饭" title="焗饭菜谱">焗饭</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/烩饭" title="烩饭菜谱">烩饭</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/焖饭" title="焖饭菜谱">焖饭</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/粥" title="粥菜谱">粥</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/寿司" title="寿司菜谱">寿司</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/饼" title="饼菜谱">饼</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/炒饼" title="炒饼菜谱">炒饼</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/意大利面" title="意大利面菜谱">意大利面</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/披萨" title="披萨菜谱">披萨</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/面条" title="面条菜谱">面条</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/炒面" title="炒面菜谱">炒面</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/焖面" title="焖面菜谱">焖面</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/凉面" title="凉面菜谱">凉面</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/拌面" title="拌面菜谱">拌面</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/包子" title="包子菜谱">包子</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/馒头" title="馒头菜谱">馒头</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/饺子" title="饺子菜谱">饺子</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/馄饨" title="馄饨菜谱">馄饨</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/便当" title="便当菜谱">便当</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/油条" title="油条菜谱">油条</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/花卷" title="花卷菜谱">花卷</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/锅贴" title="锅贴菜谱">锅贴</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/窝头" title="窝头菜谱">窝头</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/盒子" title="盒子菜谱">盒子</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/发糕" title="发糕菜谱">发糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/三明治" title="三明治菜谱">三明治</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/汉堡" title="汉堡菜谱">汉堡</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/馕" title="馕菜谱">馕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/锅盔" title="锅盔菜谱">锅盔</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/玉米饼" title="玉米饼菜谱">玉米饼</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/卷饼" title="卷饼菜谱">卷饼</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/河粉" title="河粉菜谱">河粉</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/米粉" title="米粉菜谱">米粉</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/米线" title="米线菜谱">米线</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/肉夹馍" title="肉夹馍菜谱">肉夹馍</a></li>
						
			</ul>
			<span class="bkzksq" style="display:none"><a href="javascript:void(0);" class="zhankai oleizk">展开更多</a></span>		
		</div>
				<div class="fei3 mb20 libdm pbl" id="ddd13">  
			<h2>豆乳蛋类及制品</h2>
			<ul class="kbi">
								<li><a target="_blank" href="https://www.douguo.com/caipu/面包" title="面包菜谱">面包</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/饼干" title="饼干菜谱">饼干</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/戚风蛋糕" title="戚风蛋糕菜谱">戚风蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/泡芙" title="泡芙菜谱">泡芙</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蛋糕卷" title="蛋糕卷菜谱">蛋糕卷</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/杯子蛋糕" title="杯子蛋糕菜谱">杯子蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/芝士蛋糕" title="芝士蛋糕菜谱">芝士蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/马芬" title="马芬菜谱">马芬</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/曲奇" title="曲奇菜谱">曲奇</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/吐司" title="吐司菜谱">吐司</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/海绵蛋糕" title="海绵蛋糕菜谱">海绵蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/慕斯蛋糕" title="慕斯蛋糕菜谱">慕斯蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/奶油蛋糕" title="奶油蛋糕菜谱">奶油蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/磅蛋糕" title="磅蛋糕菜谱">磅蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/小蛋糕" title="小蛋糕菜谱">小蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/翻糖蛋糕" title="翻糖蛋糕菜谱">翻糖蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/欧式蛋糕" title="欧式蛋糕菜谱">欧式蛋糕</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/派" title="派菜谱">派</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/挞" title="挞菜谱">挞</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/蛋挞" title="蛋挞菜谱">蛋挞</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/马卡龙" title="马卡龙菜谱">马卡龙</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/中式糕点" title="中式糕点菜谱">中式糕点</a></li>
								<li><a target="_blank" href="https://www.douguo.com/caipu/月饼" title="月饼菜谱">月饼</a></li>
						
			</ul>
			<span class="bkzksq" style="display:none"><a href="javascript:void(0);" class="zhankai oleizk">展开更多</a></span>		
		</div>
    <div class="mt25 left">
        </div>
    <div class="fcc left" >
        你当前的位置：<a href="http://www.douguo.com/" title="食逸安">食逸安</a>  &gt <a href="http://www.douguo.com/caipu/" title="菜谱">菜谱</a>&gt菜谱分类
    </div>
</div>
<script type="text/javascript">
	$(function(){
		var aaa = $("div.fei3").length;
		for(var i = 0; i < aaa; i++)
		{
			var dd = $("div.fei3").eq(i).attr("id");

			var cc = $("#"+dd+" li").length;
			if(cc <= 24)
			{
				$("#"+dd).find("span.bkzksq").hide();	
			}else
			{
				$("#"+dd).find("span.bkzksq").show();
				$("#"+dd).find("li:gt(23)").hide();
			}
		}
	})
	$(".zhankai").live("click", function(){		
		var h = $(this).hasClass("oleizk");	
		if(h){				
			$(this).parents(".libdm").find("ul li:gt(23)").slideDown("100");
			$(this).removeClass("oleizk").addClass("oleisq").text("收起");
		}else{				
			$(this).parents(".libdm").find("ul li:gt(23)").slideUp("100");
			$(this).removeClass("oleisq").addClass("oleizk").text("展开更多");			
		}
	})
</script>
<div id="footer">
	
</div>
<div id="backtop" style="display: none;bottom:290px"> <a id="gotop" href="javascript:void(0);" title="返回顶部" onclick="window.scroll(0,0);"></a> </div>
</div>
</body>
</html>