<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="食逸安" />
	<meta name="description" content="食逸安" />
	<title>食逸安</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/base.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/topmenu.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
	<script type="text/javascript" th:src="@{/js/koala.min.1.5.js}"></script>
	<script th:src="@{/layui/layui.js}"></script>
<script>
	//菜谱下拉菜单
	$(function () {
        $(function(){
            $('#showscm').on('click',function(){
                $('#secondmenu').toggle('slow');
            })
        })
    })
//	$(function () {
//      $(function(){
//          $('#secondmenu').on('mouseout',function(){
//              $('#secondmenu').hide('slow');
//          })
//      })
//  })
</script>
<script>
	layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage
            , layer = layui.layer;

        //总页数低于页码总数
        laypage.render({
            elem: 'pagecut1'
            , count: 50 //数据总数
        });
    })
</script>
	<script type="text/javascript">
        var islogin = getCookies('user_id');
        if(islogin == '')
        {
            var comformvalue = getCookies('comfrom');
            var is_showloginheads = getCookies('is_showlonginlead');
            if(is_showloginheads != 'OK')
            {
                if(comformvalue == 1)
                {
                    setCookie('showNums',0);
                    showloginhead('sina');
                }
                else if(comformvalue == 2)
                {
                    setCookie('showNums',0);
                    showloginhead('qq');
                }
            }
        }
        var is_findfriend = getCookies('is_friendinfo');
        if(is_findfriend != 'OK')
        {
            var cnick = "尤木";
            var apitype = "";
            if(apitype == 'sina' || apitype == 'douban')
            {
                //findFriendtips(apitype, cnick);
                setcookie('is_friendinfo', 'OK', 0, '/', 'www.douguo.com');
            }
        }
        function overshow(){$("#header_usermenu").show()}
        function outshow(){$("#header_usermenu").hide()}
	</script>
</head>

<body>
	<div id="header">
		<div class="head">
			<header  th:replace="header::navbar"></header>
		</div>
    <div class="headnav">
    	<div class="secondmenu" id="secondmenu" style="display: none;">
    		<ul>
    			<li><a href="#">精选</a></li>
    			<li><a href="#">分类</a></li>
    			<li><a href="#">食材</a></li>
    			<li><a href="#">排行榜</a></li>
    		</ul>
    	</div>
    	<div class="hcent">
            <div class="hnav fsm">
                <ul>
					<li class="ls lone"><a href="#" ><span>首页</span></a></li>
                    <li class=" lone" id="showscm"><a href="#"><span>菜谱</span><s class="naww"></s></a></li>
					<li class=" lone"><a href="#"><span>写食派</span></a></li>
					<li class=" lone"><a href="#"><span>商城</span></a><div class="icnew"></div></li>
					<li class="relative  lone"><a href="#"><span>主题站</span></a></li>
                </ul>
            </div>
            <div class="search">
                <form method="POST" id="searchForm" action="/search/recipe/" accept-charset="utf-8" onsubmit="document.charset='utf-8';return Search();">
                    <input type="text" id="global_search_inpt" class="sput itqu" name="keywords" placeholder="搜索菜谱、菜单、食材、用户" x-webkit-speech="" x-webkit-grammar="bUIltin:search" lang="zh-CN" ;>
                    <input type="submit" value="搜索" class="lib">
                </form>
            </div>
            <div class="issue" onmouseover="$('#issueall').show()" onmouseout="$('#issueall').hide()">
                <a href="javascript:void(0);" class="btniss">发布</a>
				<div class="fallce r3" id="issueall" style="display: none; ">
					<span class="armtop"> </span>
						<p>
							<a href="#" class="rt3" target="_blank" rel="nofollow">发布菜谱</a>
						   <a href="#" target="_blank" rel="nofollow">创建菜单</a>
						   <a href="#" target="_blank" rel="nofollow">上传美食日记</a>
                        </p>
				</div>
            </div>
        </div>
    </div>
</div>
<div id="main" class="clearfix">
	<div class="caipunav r3 mb30 relative">
		<ul class="pls">
			<li class="lirdo"><a href="#"><span>精选</span></a></li>
			<li class="lirdo"><a href="#"><span>分类</span></a></li>	
			<li class="lirdo ls"><a href="#" ><span>食材</span></a></li>
			<li class="lirdo "><a href="#"><span>菜单</span></a></li>
			<li class=" "><a href="#"><span>排行榜</span></a></li>
		</ul>
 	 </div>
 	 
<div class="bkleft  mbl">
			<div class="bshicai clearfix mb30">
			<div class="scic mrl">
                <a href="#" target="_blank">
                    <img src="images/12.jpg" alt="排骨的做法大全">
                </a>
			</div>
				<input type="text" th:value="${food.id}" style="display: none" id="foodid" name="foodid">
			<div class="scintro">
				<h1 class="mb3" th:text="${food.name}">排骨</h1>
                <p><span>别名：</span> <th:block th:text="${food.othername}"> 排骨、猪排</th:block></p>
                <p><span>热量：</span></p><th:block th:text="${food.heat}">278大卡</th:block>  (100克可食部分)
                <p><span>适宜人群：</span><th:block th:text="${food.suitable}">一般人都可食用 。适宜于气血不足，阴虚纳差者。</th:block></p>
                 <!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare pts" style="float:right;">
                <span class="bds_more inblok" style="display: inline-block;"></span>
                </div>
			</div>
		</div>
		<div class="cpsc r3 mbm clearfix">
			<ul class="pls">
				<li class='lirdo ls'><a th:href="@{/recipes/noun/food(id=${food.id})}"><span>做法大全</span></a></li>
				<li class='lirdo '><a th:href="@{/recipes/noun/food2(id=${food.id})}"><span>营养功效</span></a></li>
			</ul>
		</div>
        <div class="sczhot">
        </div>
				<div id="xiangguancaipu" class="scxgip">
				<div class="scig pvl libdm">
				<div class="scoic mrl relative">
                    <a href="#" target="_blank"><img src="images/01.jpg"  alt="板栗烧排骨 +金龙鱼舌尖美味 油你掌勺"></a>
				</div>
				<div class="hr3"><a href="https://www.douguo.com/cookbook/1711567.html" target="_blank">       板栗烧排骨 +金龙鱼舌尖美味 油你掌勺</a></div>
				<p class="pbm">收到金龙鱼花生油，味道太香了，立刻用来烧了排骨，出锅香气袭人，孩子吃了好几块...</p>
                <p class="pbm">主料：<a target="_blank" href="https://www.douguo.com/ingredients/排骨">排骨</a>，<a target="_blank" href="https://www.douguo.com/ingredients/板栗">板栗</a> </p>
				<span class="prm liscr"> 做法by <a href="https://www.douguo.com/u/u20468009171777.html" rel="nofollow" target="_blank">爱生活的馋猫</a></span><span class="phm liscr">2018-10-24</span><span class="phm liscr">收藏1438</span><span class="phm liscr">评论0</span>
			 	
						
				</div>
				
				<div class="scig pvl libdm">
				<div class="scoic mrl relative">
                    <a href="#" target="_blank"><img src="images/01.jpg"  alt="板栗烧排骨 +金龙鱼舌尖美味 油你掌勺"></a>
				</div>
				<div class="hr3"><a href="https://www.douguo.com/cookbook/1711567.html" target="_blank">       板栗烧排骨 +金龙鱼舌尖美味 油你掌勺</a></div>
				<p class="pbm">收到金龙鱼花生油，味道太香了，立刻用来烧了排骨，出锅香气袭人，孩子吃了好几块...</p>
                <p class="pbm">主料：<a target="_blank" href="https://www.douguo.com/ingredients/排骨">排骨</a>，<a target="_blank" href="https://www.douguo.com/ingredients/板栗">板栗</a> </p>
				<span class="prm liscr"> 做法by <a href="https://www.douguo.com/u/u20468009171777.html" rel="nofollow" target="_blank">爱生活的馋猫</a></span><span class="phm liscr">2018-10-24</span><span class="phm liscr">收藏1438</span><span class="phm liscr">评论0</span>
			 	
						
				</div>
				
				<div class="scig pvl libdm">
				<div class="scoic mrl relative">
                    <a href="#" target="_blank"><img src="images/01.jpg"  alt="板栗烧排骨 +金龙鱼舌尖美味 油你掌勺"></a>
				</div>
				<div class="hr3"><a href="#" target="_blank">       板栗烧排骨 +金龙鱼舌尖美味 油你掌勺</a></div>
				<p class="pbm">收到金龙鱼花生油，味道太香了，立刻用来烧了排骨，出锅香气袭人，孩子吃了好几块...</p>
                <p class="pbm">主料：<a target="_blank" href="#">排骨</a>，<a target="_blank" href="https://www.douguo.com/ingredients/板栗">板栗</a> </p>
				<span class="prm liscr"> 做法by <a href="#" rel="nofollow" target="_blank">爱生活的馋猫</a></span><span class="phm liscr">2018-10-24</span><span class="phm liscr">收藏1438</span><span class="phm liscr">评论0</span>
			 	
						
				</div>
			 	<!--分页-->
						<div class="mtl"><div class="page_PN"><div class="pagination"><span class="current">1</span><span class="floblock" style="cursor: pointer;"><a href="https://www.douguo.com/ingredients/排骨/20">2</a></span><span class="floblock" style="cursor: pointer;"><a href="https://www.douguo.com/ingredients/排骨/40">3</a></span><span class="floblock" style="cursor: pointer;"><a href="https://www.douguo.com/ingredients/排骨/60">4</a></span><span class="floblock" style="cursor: pointer;"><a href="https://www.douguo.com/ingredients/排骨/80">5</a></span><span class="floblock" style="cursor: pointer;"><a href="https://www.douguo.com/ingredients/排骨/20">下一页</a></span><span class="floblock" style="cursor: pointer;"><a href="https://www.douguo.com/ingredients/排骨/14060">尾页</a></span></div></div></div>
				</div>
				
				
        <div class="fcc left" >
            <br/>你当前的位置：<a href="#" title="食逸安">食逸安</a> &gt <a href="#" title="菜谱">菜谱</a> &gt <a href="#" title="食材">食材</a>&gt排骨的做法大全        </div>
	</div>
	<div class="bkright">
		<div class="fsm">
			<a th:href="@{/recipes/noun}" target="_blank">全部食材>></a>
		</div>
        <div class="shiclei">
            <h3><a href="/shicai/" target="_blank"></a></h3>
            <ul>
            	              </ul>
        </div>
        <div class="gongxiao clearfix mb20 left">
            <h2>常用食材</h2>
           <table class="layui-table" style="width: 250px; ">
           	<tr>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           	</tr>
           	<tr>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           	</tr>
           	<tr>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           	</tr>
           	<tr>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           	</tr>
           	<tr>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           		<td><a href="/ingredients/猪肉" target="_blank">猪肉</a></td>
           	</tr>
           		
           </table>
        </div>
	<div id="footer">

	</div>
	</div>
</div>

</body>
</html>

