@charset "utf-8";
/* CSS Document */

/*CSS 初始化*/
body, v, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body {
	font-size:12px;
	/* [disabled]color:#666; */
	font-family:"Microsoft Yahei",Heiti,arial,helvetica,sans-serif!important;/*font-family:Verdana, Microsoft YaHei, Simsun;*/
	line-height:23px;
}
fieldset, img { border:0;}
img{ display:block;}
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%;}
em { font-style:normal; }
input, button, select, textarea{ outline:none;}
textarea { resize:none; }
a { color:#666;text-decoration:none; }
a:hover { text-decoration:none;}
a:focus{outline:none; -moz-outline:none;}		/*解决  去除 a 链接点击后有一个虚线的边框出现*/

/*a:hover{ color:#F09E0B;}*/

/*公用样式*/
.w1200{ width:1200px; margin:0 auto;}
.mt20{ margin-top:20px;}
.f-l{ float:left;}
.f-r{ float:right;}
.none{ display:none;}

/*nav 开始*/
.nav{ position:relative;}
.nav .sp-kj{ width:267px; height:47px; line-height:47px; font-size:16px; color:#fff; float:left;  padding-left:35px; position:relative;}
.nav .kj-show{ width:302px; height:560px;z-index:1; position:absolute; top:47px; left:0;}
.nav ul{ float:left;}
.nav li{ float:left; width:112px; height:47px; line-height:47px; text-align:center;}
.nav li a{ font-size:15px; color:#1F1F1F;}
.nav li a:hover{ color:#F09E0B;}

/*分页开始*/
.paging{ width:610px;margin:30px auto 0;}
.pag-left{ margin-right:15px;}
.pag-left .about{ display:inline-block; width:41px; height:35px; line-height:35px; text-align:center; color:#fff; background:#EF9D09; font-size:23px;}
.pag-left .left-m{height:33px; padding:1px;background:#EF9D09;}
.pag-left .left-m li{ float:left; width:39px; height:33px; line-height:33px; text-align:center; background:#fff;}
.pag-left .left-m li:hover{ background:#EF9D09;}
.pag-left .left-m li:hover a{ color:#fff;}
.pag-left .left-m .current{background:#EF9D09;}
.pag-left .left-m .current a{color:#fff;}
.pag-left .left-m li a{ display:block; font-size:14px; color:#000;}
.pag-right .jump-page{ font-size:14px; color:#000; margin-right:10px;}
.pag-right .jump-page input{ border:none; width:48px; height:33px; border:1px solid #EF9D09; margin:0 10px; padding:0 5px;}
.pag-right button{ border:none; width:53px; height:35px; background:#EF9D09; color:#fff; font-size:14px; cursor:pointer;}

