<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="mezz">
<meta name="author" content="mezz">
<link href="css/css.css" rel="stylesheet" th:href="@{/css/css.css}">
<link href="css/chosen.css" rel="stylesheet" th:href="@{/css/chosen.css}">
<title>用户登录</title>
</head>
<body>
<div class="head">
  <div class="wrap clearfix">
    <img th:src="@{/images/414.png}" align="left" width="60" height="60" />
    <div class="hanzi">食逸安美食</span></div>
  </div>
</div>
<div class="loginwrapper">
  <div class="wrap pr">
  	<img th:src="@{/images/414.png}"  style="padding:15px 200px  ;"/>
    <div class="loginbox">
      <h1 class="hd">用户登录</h1>
      <div class="boxbd">
        <form th:action="@{/user/loginpage}" method="post">
        <label class="label">
          <input type="text" name="username" value="" class="loginipt user" placeholder="请输入您的账号">
        </label>
        <label class="label">
          <input type="password" name="password" value="" class="loginipt pwd" placeholder="请输入您的密码">
        </label>
        <button type="submit" class="button btn-login">登录</button>
        <p class="mt20"><label for="remember"><input name="" type="checkbox" id="remember" value="" checked> <font color="#000000">记住我</font></label><p href="/forgot" class="fr">

        <a th:href="@{/reg}" class="o">忘记密码</a>
      </p>
        <span class="mt10 tr" style="padding-left: 100px"><font color="#000000">还没有账号？</font><a th:href="@{/reg}" class="o">注册</a></span>
        </form>
      </div>

    </div>
  </div>
</div>
<div style="height: 100px"></div>
  <div class="foot tc" style="padding-top: 70px;">
  	   <p>关于食逸安·在食逸安工作·意见反馈·友情链接·菜谱大全·品牌馆</p>
  	   <br />
  	<p>北京豆果信息技术有限公司 京ICP证111032号京公网安备11010102001133号 京网文【2018】6954-770号 食品流通许可证SP1101061510252413</p>
  </div>
</body>
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/Action.js}"></script>
</html>