<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="mezz">
	<meta name="author" content="mezz">
	<link  rel="stylesheet" th:href="@{/css/css.css}">
	<link rel="stylesheet" type="text/css" th:href="@{layui/css/layui.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/base.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/topmenu.css}"/>
	<script type="text/javascript" th:src="@{js/jquery.js}"></script>
	<script th:src="@{layui/layui.js}"></script>
	<script>
        //菜谱下拉菜单
        $(function () {
            $(function(){
                $('#showscm').on('click',function(){
                    $('#secondmenu').toggle('slow');
                })
            })
        })
	</script>
	<title>菜单</title>
	<a class="dg-passport" id="login"></a>
	<input type ="hidden" id="getjs" value="0">
	<input type="hidden" name="hid_gourl" value="/u/u37425773991444.html" />
</head>
<body>
<div id="header">
	<div class="head">
		<div class="hlogo">
			<a title="食逸安" href="/"><img th:src="@{images/414.png}" width="45px" height="45px" style="line-height: 30px; " /></a>
		</div>
		<div class="tlogin" id="header_info" uid="22704506" pur="0">
			<div class="myifo" onmouseover="overshow()" onmouseout="outshow()">
				<a th:href="@{/personal}" target="_blank" class="plt5"><img id="imgicon" th:src="@{images/48.jpg}" alt="尤木"></a>
				<div class="swfom r3 hidden" id="header_usermenu">
					<span class="arwwj"> </span>
					<p>
						<a th:href="@{/receive}" target="_blank">提醒</a>
						<a th:href="@{/mem.}" target="_blank">账号设置</a>
						<a th:href="@{/login}" class="rb3" >退出</a>
					</p>
				</div>
			</div>
		</div>
		<div class="perinfo" style="width: 370px;">
			<p>
				<a th:href="@{/jifen}" target="_blank"><span class="ic_jife"></span>积分35</a>　
				<a th:href="@{/personal4}" target="_blank" class="mr10" style="margin-right:10px;"><span class="ic_shca"></span>我的收藏</a>
				<a th:href="@{/message}" target="_blank" ><span class="ic_dc"></span>我的订单</a>
			</p>
		</div>
	</div>

	<div class="headnav">
		<div class="secondmenu" id="secondmenu" style="display: none;">
			<ul>
				<li><a href="#">精选</a></li>
				<li><a href="#">分类</a></li>
				<li><a href="#">食材</a></li>
				<li><a href="#">排行榜</a></li>
			</ul>
		</div>
		<div class="hcent">
			<div class="hnav fsm">
				<ul>
					<li class="ls lone"><a href="#" ><span>首页</span></a></li>
					<li class=" lone" id="showscm"><a href="#"><span>菜谱</span><s class="naww"></s></a></li>
					<li class=" lone"><a href="#"><span>写食派</span></a></li>
					<li class=" lone"><a href="#"><span>商城</span></a><div class="icnew"></div></li>
					<li class="relative  lone"><a href="#"><span>主题站</span></a></li>
				</ul>
			</div>
			<div class="search">
				<form method="POST" id="searchForm" action="/search/recipe/" accept-charset="utf-8" onsubmit="document.charset='utf-8';return Search();">
					<input type="text" id="global_search_inpt" class="sput itqu" name="keywords" placeholder="搜索菜谱、菜单、食材、用户" x-webkit-speech="" x-webkit-grammar="bUIltin:search" lang="zh-CN" ;>
					<input type="submit" value="搜索" class="lib">
				</form>
			</div>
			<div class="issue" onmouseover="$('#issueall').show()" onmouseout="$('#issueall').hide()">
				<a href="javascript:void(0); " class="btniss">发布</a>
				<div class="fallce r3" id="issueall" style="display: none; ">
					<span class="armtop"> </span>
					<p>
						<a th:href="@{/Release2}" class="rt3" target="_blank" rel="nofollow">发布菜谱</a>
						<a th:href="@{/Release1}" target="_blank" rel="nofollow">创建菜单</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
    var islogin = getCookies('user_id');
    if(islogin == '')
    {
        var comformvalue = getCookies('comfrom');
        var is_showloginheads = getCookies('is_showlonginlead');
        if(is_showloginheads != 'OK')
        {
            if(comformvalue == 1)
            {
                setCookie('showNums',0);
                showloginhead('sina');
            }
            else if(comformvalue == 2)
            {
                setCookie('showNums',0);
                showloginhead('qq');
            }
        }
    }
    var is_findfriend = getCookies('is_friendinfo');
    if(is_findfriend != 'OK')
    {
        var cnick = "尤木";
        var apitype = "";
        if(apitype == 'sina' || apitype == 'douban')
        {
            //findFriendtips(apitype, cnick);
            setcookie('is_friendinfo', 'OK', 0, '/', 'www.douguo.com');
        }
    }
    function overshow(){$("#header_usermenu").show()}
    function outshow(){$("#header_usermenu").hide()}
</script>


<div id="userplace" class="clearfix">
	<div class="userinfo">
		<div class="ushead">
			<a class="user" th:href="@{/personal}"><img src="images/140.jpg" alt="尤木"></a>
		</div>
		<div class="uscome">
			<div class="mb20 clearfix">
				<h1 class="mb3">尤木&nbsp;<span class="fss inblok fcc"></span></h1>
				<div class="clearfix">
					<span class="ic_male"></span>
					<span class="fcc"> </span>
				</div>
				<div class="ijfenbox left mtm">
					<em class="armao rl3">积分</em><em class="arnuber"><a th:href="@{/jifen}" target='_blank'>
					35</a></em>
				</div>
			</div>
			<p id="uchome_desc_full" class="pingro mb25">

				<span><a href="javascript:void(0)" onclick="upProfile(22704506)">（修改）</a></span></p>
			<p id="uchome_desc_update" class="pingro mb25 hidden" style="position: relative;"><textarea id="update_profile_text" class="ediintro r3 " style="width:468px" > </textarea><span id="area_len" style="position: absolute;bottom:32px;right:10px;color: #999">1/45</span>
				<span class="edipro ptm mb25 dblok"><a href="javascript:void(0)" id="submit_area">确认</a>　<a href="javascript:void(0)" onclick="cancelUpProfile();">取消</a></span>
			</p>
			<ul class="clearfix">
				<li ><a th:href="@{/personal}" ><span>概览</span></a></li>
				<li ><a th:href="@{/personal1}" ><span>菜谱</span></a></li>
				<li class="ons"><a th:href="@{/personal2}" ><span>菜单</span></a></li>
				<li ><a th:href="@{/personal4}" ><span>收藏</span></a></li>
				<li ><a th:href="@{/personal5}"><span>留言</span></a></li>
				<li ><a th:href="@{/personal6}" ><span>个性化</span></a></li>
			</ul>
		</div>
		<div class="numifo r3">
			<ul>
				<li class="lirdr"><a th:href="@{/fans}" rel="nofollow">0 </a><br />关注</li>
				<li class="lirdr"><a th:href="@{/fans}" rel="nofollow">0</a><br />粉丝</li>
				<li class="lirdr"><a th:href="@{/personal1}" rel="nofollow">0</a><br />菜谱</li>
				<li><a th:href="@{/personal2}" rel="nofollow">0</a><br />菜单</li>
			</ul>
		</div>
	</div>
</div>

<script>
    var area = document.getElementById('update_profile_text'),
        area_len = document.getElementById('area_len'),
        area_sub = document.getElementById('submit_area');
    area.onkeyup = function(el) {
        area_len.innerHTML = this.value.length + '/45';
        len = this.value.length;
        if (this.value.length>45) {
            var that = this;
            setTimeout(function(){
                if (that.value.length == len) {
                    that.value = that.value.substring(0,45);
                    area_len.innerHTML = '45/45';
                }
            },2000)
        }
    }
    area_sub.onclick = function() {
        if (area.value.length>45) {
            alert('最多只能45个字哦');
            return false;
        }
        doUpProfile(22704506);
    }
</script>

<div id="main" class="clearfix pt50">
	<div class="maleft">
			<div class="noword fsm">
			
			你还没有发布过菜谱呢，<a th:href="@{/Release1}">创建菜单</a>
		</div>
					
	</div>
	<div class="maright">
        		<div class="careper mb35 clearfix">
														</div>
				        <div class="qgdct mb28 clearfix">

        </div>
		        <div class="qgdct mb28 clearfix">

        </div>
		</div>
</div>

   <div class="personal">
	  <p >&nbsp;&nbsp;尤木发布的菜单（）:</p>
	  <div align="left">
	  	<table class="personal1">
	  		<tr>
	  		<td>
	  			<img th:src="@{images/140.jpg}" />
	  			<h3 align="center">菜单1</h3>
	  		</td>
	  		<td>
	  			<img th:src="@{images/140.jpg}" />
	  			<h3 align="center">菜单2</h3>
	  		</td>
	  		<td>
	  			<img th:src="@{images/140.jpg}" />
	  			<h3 align="center">菜单3</h3>
	  		</td>
	  		
	  		</tr>
	  		<tr>
	  		<td>
	  			<img th:src="@{images/140.jpg}" />
	  			<h3 align="center">菜单4</h3>
	  		</td>
	  		<td>
	  			<img th:src="@{images/140.jpg}" />
	  			<h3 align="center">菜单5</h3>
	  		</td>
	  		<td>
	  			<img th:src="@{images/140.jpg}" />
	  			<h3 align="center">菜单6</h3>
	  		</td>
	  		
	  		</tr>
	  		
	  	</table>
	  	
	  </div>
</div>
<style type="text/css" media="screen">
 .down-left { width: 0; height: 120px; background: url('https://i1.douguo.com//static/img/huodong/down/pic_120.png'); background-size: 120px 120px; cursor: pointer; position: fixed; bottom: 0; left: 0;display: none; }
.down-layer { width: 0; height: 104px; position: fixed; bottom: 0; left: 0;  background: rgba(255, 126, 0, 0.8); z-index: 999;display: none;}
.in-layer { width: 828px; height: 104px; display: block; margin: auto; position: relative; background: url('https://i1.douguo.com//upload/banner/1512130201.png') no-repeat; background-size: 828px 104px; }
.in-layer .down-ios { position: absolute; width: 115px; height: 34px; top: 18px; right: 185px; cursor: pointer; display: block; }
.in-layer .down-ard { position: absolute; width: 115px; height: 34px; top: 60px; right: 185px; cursor: pointer; display: block; }
.in-layer .down-close { position: absolute; width: 30px; height: 30px; top: 40px; right: -84px; background: url('https://i1.douguo.com//static/img/huodong/down/close.png'); background-size: 30px 30px; cursor: pointer; }
.in-layer .down-guo { position: absolute; width: 104px; height: 50px; top: -37px; right: 47px; background: url('https://i1.douguo.com//static/img/huodong/down/down_guo.png'); background-size: 104px 50px; }
</style>
<div class="foot tc" style="padding-top: 140px;"> 
  	   <p>关于食逸安·在食逸安工作·意见反馈·友情链接·菜谱大全·品牌馆</p>
  	   <br />
  	<p>北京豆果信息技术有限公司 京ICP证111032号京公网安备11010102001133号 京网文【2018】6954-770号 食品流通许可证SP1101061510252413</p>
  </div>  
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/Action.js}"></script>

<script th:src="@{js/chosen.jquery.js}"></script>
<script type="text/javascript">
$(document).ready(function($){
	//select 样式美化
	 var config = {
		'.chosen-select-no-single' : {disable_search_threshold:10}
	}
	for (var selector in config) {
		$(selector).chosen(config[selector]);
	}	
});
//倒计时跳转
	var t=5;//设定跳转的时间 
	setInterval("refer()",1000); //启动1秒定时 
	function refer(){
		if(t==0){ 
		location="mem.html"; //#设定跳转的链接地址 
	} 
	document.getElementById('show').innerHTML=""+t; // 显示倒计时 
	t--; // 计数器递减 
	} 
</script>
</body>

