<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">
<meta name="description" content="mezz">
<meta name="author" content="mezz">
<link th:href="@{css/css.css}" rel="stylesheet">
<link th:href="@{css/chosen.css}" rel="stylesheet">
<title>用户注册</title>
</head>
<body>
<div class="head">
  <div class="wrap clearfix">
  	<a th:href="@{/index}" class="logo indent">logo</a>
    <img th:src="@{images/414.png}" align="left" width="60" height="60"/>
    <div class="hanzi">食逸安美食</span></div>
  </div>
</div>
<div class="loginwrapper">
  <div class="wrap pr">
  	<img th:src="@{images/414.png}" style="padding: 10px 100px 100px;" align="left" />
    <div style="height: 460px"></div>
    <div class="loginbox">
      <h1 class="hd">用户注册</h1>
      <div class="boxbd mt20" >
        <label class="label">
          <input type="text" name="user" value="" class="loginipt key user">
          <span class="text">请输入您的手机号/邮箱</span>
        </label>
        <label class="label">
          <input type="text" name="Nickname" value="" class="loginipt key Nickname">
          <span class="text">请输入您的昵称</span>
        </label>
        <label class="label">
          <input type="password" name="pwd" value="" class="loginipt key pwd">
          <span class="text">请输入您的密码</span>
        </label>
        <label class="label">
          <input type="password" name="pwd" value="" class="loginipt key pwd">
          <span class="text">请确认您的密码</span>
        </label>
        <button type="submit" name="login" value="" class="button btn-reg" onClick="location.href='mem.html'">立即注册</button>
        <p class="mt20 tc">注册则表示同意<a href="#" class="o">《会员条款》</a></p>
      </div> 
      <p class="boxbd tr">已有帐号？<a th:href="@{/login}" class="o">登录</a></p>
    </div>    
  </div>
</div>

<div style="height: 100px"></div>

<div class="foot tc" style="padding-top: 70px;">
  	   <p>关于食逸安·在食逸安工作·意见反馈·友情链接·菜谱大全·品牌馆</p>
  	   <br />
  	<p>北京豆果信息技术有限公司 京ICP证111032号京公网安备11010102001133号 京网文【2018】6954-770号 食品流通许可证SP1101061510252413</p>
  </div>
</body>
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/Action.js}"></script>
</html>