<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyian.mapper.FoodClassMapper">
    <select id="findFoodClassList" resultType="com.shiyian.entity.FoodClass">
        select * from foodclass
    </select>
    <select id="findFoodList" resultType="com.shiyian.entity.Food">
        select * from food
    </select>
    <select id="findFoodAndFoodClassList" resultType="com.shiyian.entity.vo.FoodAndFoodClass">
        select * from foodAndclass
    </select>
</mapper>